[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# pytest-django = "3.9"
tox = "3.19"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"          #todo: loosen ?
